.CopydefBtnNormal0dafcac8a40b944 {
  background-color: #4b88f1ff;
  color: #ffffffff;
  font-size: 150px;
  border-width: 1px;
  border-radius: 10px;
  border-color: #ffffffff;
}

.defBtnFocus {
  background-color: #6fa0f4ff;
  color: #ffffffff;
  font-size: 150px;
}

.defBtnNormal {
  background-color: #4b88f1ff;
  color: #ffffffff;
  font-size: 150px;
}

.sknLblDescription {
  background-color: #00000000;
  color: #575757ff;
  font-size: 92px;
}

.sknLblRowHeading {
  background-color: #00000000;
  color: #000000ff;
  font-size: 160px;
}

.sknLblStrip {
  background-color: #4b88f1ff;
  color: #4b88f1ff;
  font-size: 70px;
}

.sknLblTimeStamp {
  background-color: #00000000;
  color: #8e8e8eff;
  font-size: 92px;
}

.sknSampleRowTemplate {
  background-color: #ffffffff;
}

.sknSampleSectionHeaderTemplate {
  background-color: #ffffffff;
}

.sknSectionHeaderLabelSkin {
  background-color: #00000000;
  color: #000000ff;
  font-size: 160px;
}

.slDynamicNotificationForm {
  background-color: #000000;
}

.slFbox {
  background-color: #00000000;
}

.slForm {
  background-color: #ffffff;
}

.slStaticNotificationForm {
  background-color: #000000;
}

.slTitleBar {
  background-color: #ffffff;
  color: #333333;
  font-size: 100px;
}

.slWatchForm {
  background-color: #000000;
}

